<script>
import setConfigs from '@gitlab/ui/dist/config'
import { GlFormInput, GlButton, GlCard, GlSkeletonLoader } from '@gitlab/ui'

setConfigs()

export default {
  components: {
    GlFormInput,
    GlButton,
    GlCard,
    GlSkeletonLoader,
  },
  data: () => ({
    currentQuestion: '',
    loading: false,
    questions: [],
  }),
  fetchOnServer: false,
  methods: {
    askDocs: async function () {
      if (this.currentQuestion) {
        const newQuestion = {
          question: this.currentQuestion,
          loading: true,
          answer: '',
          sources: [],
        }
        this.questions.splice(0, 0, newQuestion)
        this.currentQuestion = ''

        this.loading = true
        const result = await this.$axios.$get(
          '/api/ask?q=' + newQuestion.question
        )
        // eslint-disable-next-line no-console
        console.log('API Result : ', result)

        this.loading = false
        newQuestion.loading = false
        newQuestion.error = result.name === 'Error'
        newQuestion.answer = result.msg
        newQuestion.sources = result.sources
      }
    },
  },
}
</script>

<template>
  <div class="">
    <div class="container gl-mt-7 gl-mb-4 gl-display-flex">
      <div class="gl-mr-4 gl-pt-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 25 24"
          height="48"
          width="48"
          class="tanuki-logo"
        >
          <path
            fill="#E24329"
            d="m24.507 9.5-.034-.09L21.082.562a.896.896 0 0 0-1.694.091l-2.29 7.01H7.825L5.535.653a.898.898 0 0 0-1.694-.09L.451 9.411.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 2.56 1.935 1.554 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z"
            class="tanuki-shape tanuki"
          ></path>
          <path
            fill="#FC6D26"
            d="m24.507 9.5-.034-.09a11.44 11.44 0 0 0-4.56 2.051l-7.447 5.632 4.742 3.584 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z"
            class="tanuki-shape right-cheek"
          ></path>
          <path
            fill="#FCA326"
            d="m7.707 20.677 2.56 1.935 1.555 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935-4.743-3.584-4.755 3.584Z"
            class="tanuki-shape chin"
          ></path>
          <path
            fill="#FC6D26"
            d="M5.01 11.461a11.43 11.43 0 0 0-4.56-2.05L.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 4.745-3.584-7.444-5.632Z"
            class="tanuki-shape left-cheek"
          ></path>
        </svg>
      </div>
      <div>
        <h2 class="gl-mt-0">Ask the Tanuki</h2>
        <div class="gl-text-gray-500">
          anything about the GitLab product documentation or our handbook.
          <a href="https://gitlab.com/timzallmann/docs-test" target="_blank"
            >This is a GitLab AI Experiment</a
          >
        </div>
      </div>
    </div>

    <div
      class="gl-bg-gray-10 gl-border-gray-50 gl-border-solid gl-border-0 gl-border-t-1 gl-border-b-1 gl-pt-7 gl-pb-7"
    >
      <div class="container distributed md typography">
        <div class="gl-display-flex">
          <gl-form-input
            v-model="currentQuestion"
            autofocus
            :disabled="loading"
            placeholder="e.g. How do I change my password?, Where can I create a new project for my group?, What is a fork?"
            @keyup.enter="askDocs"
          />
          <gl-button
            category="primary"
            variant="confirm"
            size="medium"
            :selected="false"
            :loading="loading"
            :block="false"
            :disabled="false"
            class="gl-ml-3"
            @click="askDocs"
          >
            Ask
          </gl-button>
        </div>
      </div>
    </div>
    <div class="container distributed md typography">
      <gl-card
        v-for="(result, index) in questions"
        :key="index"
        class="gl-mt-6"
      >
        <template #header>
          <h3 class="gl-my-0 gl-font-weight-bold gl-font-lg">
            {{ result.question }}
          </h3>
        </template>
        <template #default>
          <gl-skeleton-loader v-if="result.loading"></gl-skeleton-loader>
          <div v-if="!result.loading">
            <div class="gl-font-lg">{{ result.answer }}</div>
            <div v-if="!result.answer && !result.error" class="gl-font-lg">
              Sorry, I don't have an answer to your question.
            </div>
            <div v-if="result.sources" class="gl-font-sm gl-mt-5">
              Source(s): {{ result.sources }}
            </div>
          </div>
          <div v-if="result.error" class="gl-font-lg">
            Sorry, there was an error with my API to get an answer to your
            question.
          </div>
        </template>
        <template v-if="!result.loading && result.sources" #footer>
          <span>Please let me know if this answer was helpful or not? </span>
          <gl-button
            category="secondary"
            size="small"
            :selected="false"
            :block="false"
            :disabled="false"
            class="gl-ml-3"
            icon="thumb-up"
          >
          </gl-button>
          <gl-button
            category="secondary"
            size="small"
            :selected="false"
            :block="false"
            :disabled="false"
            class="gl-ml-3"
            icon="thumb-down"
          >
          </gl-button>
        </template>
      </gl-card>
    </div>
  </div>
</template>

<style scoped></style>
